// _global.scssの読み込み
@use "../foundation/global" as g;

.menu-cateogrymenu-container {
  .menu {
    .menu-top {
      display: inline-block;
      margin-top: 212px;
    }
    .menu-title {
      > a {
        font-size: 24px;
        font-family: "M PLUS 1p", sans-serif;
        font-weight: bold;
        color: g.$color_base;
      }
    }
    .menu-item {
      font-size: 20px;
      font-family: "M PLUS 1p", sans-serif;
      color: g.$color_base;
    }
  }
}
